<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pendaftaran Member</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeDF()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doRegister()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nama Member</span>
          <input type="number" ng-model="trxData.nama">
        </label>
        <label class="item item-input">
          <span class="input-label">Kota</span>
          <input type="number" ng-model="trxData.kota">
        </label>
        <label class="item item-input">
          <span class="input-label">Nomor HP</span>
          <input type="number" ng-model="trxData.nohp">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Daftarkan</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
