<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list>
      <ion-item>
        	<table width="100%" padding="5"><tr>
					<td width="15%">Saldo</td><td width="35%"><b>59.000</b></td>
					<td width="15%">Bonus</td><td width="35%"><b>775</b></td></tr></table>
      </ion-item>
    </ion-list>
		<ion-slide-box does-continue="true" auto-play="true" show-pager="false">

			 <ion-slide>
					<div class = "box box1">
						 <h1>Box 1</h1>
					</div>
			 </ion-slide>

			 <ion-slide>
					<div class = "box box2">
						 <h1>Box 2</h1>
					</div>
			 </ion-slide>

			 <ion-slide>
					<div class = "box box3">
						 <h1>Box 3</h1>
					</div>
			 </ion-slide>

		</ion-slide-box>
    <div class="list card">
      <div class="item item-divider">Dompet Saya</div>
      <div class="item item-body">
        <div>
					<table wi="0"><tr>
					<td width="50%">Saldo <b>59.000</b></td>
					<td>Bonus <b>775</b></td></tr></table>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
