/* Empty. Add your own CSS if you like */
.item-input input {
	font-weight: bold;
	font-size: 18px;
	padding-left: 12px;
}

.button-small {
	font-size: 14px;
}

.box1, .box2, .box3 {
   height: 100px;
   border: 1px solid #ddd;
}